.logo {
  .gnb {
    display: flex;
    a {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
:root {
  --white: #fff;
  --black: #000;
  --blue: #488ad8;
  --blue2: #5495D0;
  --gray33: #333333;
  --gray66: #666666;
  --gray99: #999999;
  --graycc: #cccccc;
  --graye1: #e1e1e1;
  --green: #75cb67;
  --orange: #f08a40;
  --orange2: #F6C034;
  --purple: #b174ee;
  --red: #fc817c;
  --grayf2: #f2f2f2;

  --roboto :font-family: "Roboto", sans-serif;
}


.header {
    background-color: rgba(0,0,0,0.1);
    
}
.header-center {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr 200px;
    width: 1224px;
    height: 92px;
    margin: 0 auto;
    nav {
        justify-self: center;
    }
    &:has(.gnb:hover) {
        + .bg-nav{
            height:190px;
    }
   }
}

.gnb {
    position:relative;
    z-index: 1001;
  display: flex;
  gap: 100px;
  &:hover {
    .depth2 {
        display: block;
        padding-top: 20px;
        opacity: 1;
        height: auto;
        overflow: visible;
    }
  }
  > li {
    position: relative;
    >a{
        display: block;
        padding: 32px 0;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        color: var(--white);
        font-size: 18px;
        font-weight: 700;
        transition: 0.5s;
        &:before {
            content:"";
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 0%;
            height: 7px;
            background-color: var(--blue);
            transition: 0.5s;
        }
    }
    &:hover {
        >a {
        color: var(--blue);
         &::before {
             width: 100%;
         }
         }
     }
         
    }
    
     
    }
    .depth2 {
        position: absolute;
        width: 100%;
        left: 0;
        top: 81px;
        opacity: 0;
        transition: 0.3s;
        height: 0;
        overflow: hidden;
        a{
            color: var(--gray66, #666);
            font-size: 16px;
            font-weight: 500;
            line-height: 200%;
            letter-spacing: -0.8px;
            white-space: nowrap;
            &:hover {
                color: var(--blue);
                text-decoration: underline;
            }

        }
    }
.profile {
    justify-self: end;
    gap: 20px;
    display: flex;
    align-items : center;
     color: var(--white);
     font-size: 12px;
    font-weight: 300;
    b { 
    font-weight: 500;
  }
}
.avatar {
    display: inline-block;
    position: relative;
  img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
  }
}
.avatar__badge {
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 8px;
  align-items: center;
  height: 20px;
  color: #fff;
  font-family: var(--roboto);
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  display: inline-flex;
  height: 20px;
  border-radius: 20px;
  background: var(--blue, #488ad8);
}
.bg-nav {
    position: fixed;
    left: 0;
    top: 92px;
    z-index: 1000;
    width: 100%;
    height: 0;
    background-color: var(--white);
    transition: 0.3s;
}
/*footer*/
.footer-top{
    background-color: var(--white);
    border-top: 1px solid var(--gray99);
    border-bottom: 1xp solid var(--graye1);
}
.footer-bottom {
    background-color: var(--grayf2);
}
.footer-center{
    display: flex;
    justify-content: space-between;
    width: 1224px;
    margin: 0 auto;
    align-items: center;
    height: 69px;
    .footer-bottom & {
        height: 149px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding-top: 20px;
        gap: 10px;
    }
    
}
.footer-nav{
    display: flex;
    a{
        color: var(--gray66);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.7px;
    }
    li {
        display: flex;
        align-items: center;
        white-space: nowrap;
        + li {
            &::before{
                content: "";
                height: 14px;
                margin: 0 24px;
                border-right: 1px solid var(--graycc);
            }
        }
    }
}
.btn-familysite {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray66);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.98px;
    background: none;
    &::before{
        content: url(../images/ico_family.svg);
    }
}
.company-info{
    display: flex;
    gap: 24px;
    white-space: nowrap;
    color: var(--gray99);
    font-size: 12px;
    font-weight: 500;
}
.copylight{
    color: var(--black);
    font-family: var(--roboto);
    font-size: 12px;
}
/* main */
.wrap {
    padding-left: 348px;
    padding-right: 348px;
    width: 1224px;
    height: 2932px;
    padding-top: 80px;
}
.title__small {
    color: var(--gray99);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.7px;
    }
.title__contents {
    color: var(--gray33);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.6px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.gnb2 {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--gray66);
    position: relative;
    width: 966px;
    height: 50px;
    a {
        color: var(--gray99);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.48px;
        text-align: center;
        margin-top: 13px;
    }
    .line2 {
        background-color: var(--graye1);
        width: 1px;
        height: 48px;
            }
    }
.depth3 {
    position: absolute;
    padding-top: 33px;
    a {
        color: var(--gray66);
        font-size: 14px;
        font-weight: 400;
        line-height: 112%;
        letter-spacing: -0.7px;
        white-space: nowrap;
        &:hover{
            color: var(--red);
            text-decoration: underline;
        }
    }
}
.rectangle {
    display: flex;
    flex-wrap: nowrap;
    width: 238px;
    height: 50px;
    background: var(--red);
    padding-left: 20px;
    color: var(--white);
    a{
        color: var(--white)
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin-top: 13px;
    }
}
.nav2 {
    display: flex;
    padding-top: 30px;
}
.rectangle2 {
    position: relative;
    display: flex;
    margin-top: 164px;
    color: #FFF;
    font-family: var(--roboto)
    font-size: 16px;
    line-height: 100%;
    background: #4E4E4E;
    border : 1px solid #3E3E3E;
    width: 809px;
    height: 50px;
    p{
        padding: 20px 17px 0 17px;
    }
    img {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        /*justify-content: flex-end;*/
        padding: 17px;
    }
}
.grid { 
    padding-top: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 417px 417px 417px 417px;
    grid-row-gap: 30px;
    grid-column-gap :12px;
}
.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 1224px;
    height: 72px;
    border: 1px solid #999;
    background: #FFF;
    a{
        color: var(--black);
        font-size: 14px;
        font-weight: 700;
    }
    img {
        width: 11px;
        height: 11px;
        padding-left: 10px;
    }
}
.item1 {
    position: relative;
    .business {
        position: absolute;
        left: 69px;
        top: 202px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 36px;
        margin: 8px 12px;
        background-color: var(--orange);
        border-radius: 20px;
        color: var(--white);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    } 
    .coin {
        position: absolute;
        top: 202px;
        right: 69px;
        display: flex;
        width: 70px;
        height: 36px;
        margin: 8px 12px;
        color: var(--gray66);
        background-color: var(--white);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        img {
            margin-right: 5px;
            width: 18px;
            height: 18px;

        }
    }
}
.item2{
    position: relative;
    .global {
        position: absolute;
        left: 69px;
        top: 202px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 36px;
        margin: 8px 12px;
        background-color: #B174EE;
        border-radius: 20px;
        color: var(--white);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }
    .coin {
        position: absolute;
        top: 202px;
        right: 69px;
        display: flex;
        width: 70px;
        height: 36px;
        margin: 8px 12px;
        color: var(--gray66);
        background-color: var(--white);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        img {
            margin-right: 5px;
            width: 18px;
            height: 18px;

        }
    }
}
.item3{
    position: relative;
    .coin {
        position: absolute;
        top: 202px;
        right: 69px;
        display: flex;
        width: 70px;
        height: 36px;
        margin: 8px 12px;
        color: var(--gray66);
        background-color: var(--white);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        img {
            margin-right: 5px;
            width: 18px;
            height: 18px;

        }
    }
    .work {
        position: absolute;
        left: 69px;
        top: 202px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 36px;
        margin: 8px 12px;
        background-color: var(--blue2);
        border-radius: 20px;
        color: var(--white);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        }
}
.text-style1{
    color: var(--gray33);
    font-size: 16px;
    font-weight: 700;
    padding-top: 39px;
}
.text-style2 {
    color: var(--gray99);
    font-size: 14px;
    padding-top: 6px;
}
.text-style3 {
    color: var(--gray66);
    font-size: 14px;
    padding-top: 6px;
}
.text-style4 {
    color: var(--gray33);
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    
}
.line {
    width: 288px;
    height: 1px;
    background-color: var(--graye1);
    margin-top: 15px;
}